@import '../../assets/colours.scss';
@import '../../assets/fonts.scss';

section {
	width: 100%;
	height: 130px;
	position: relative;
	text-align: center;


	.mark {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: 4px;
		left: 0px;
		margin-left: -12px + 62px;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 12px solid black;
	}

	.tick {
		width: 2px;
		height: 48px;
		margin: 0 44px;
		margin-top: 40px;
		padding-top: 28px + 18px;
		display: inline-block;
		position: relative;

		&:before {
			content: '';
			width: 2px;
			height: 28px;
			margin: 0 auto;
			position: absolute;
			top: 0px;
			left: calc(50% - 1px);
			background-color: c(gray);
		}

		&:after {
			content: attr(data-id);
			width: 32px;
			height: 28px;
			margin: 0 auto;
			position: absolute;
			top: 28px + 16px;
			left: calc(50% - 32px / 2);
			color: c(gray);
			@include font('Museo', 300, 21px);
		}
	}

	$tipSize: 10px;
	$eventColour: c(blue);

	.schedule {
		width: calc(100% - 62px * 2);
		height: 18px;
		position: absolute;
		left: 62px;
		top: 44px;

		span {
			height: 100%;
			position: absolute;
			background-image:
				linear-gradient(
					to right,
					transparent calc(#{$tipSize}),
					#{$eventColour} calc(#{$tipSize} - 1px),
					#{$eventColour} calc(100% - #{$tipSize} + 1px),
					transparent calc(100% - #{$tipSize})
				);

			&:before, &:after {
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				top: 0px;
				border-top: 9px solid transparent;
				border-bottom: 9px solid transparent;
			}

			&:before {
				left: 0px;
				border-right: $tipSize solid #{$eventColour};
			}

			&:after {
				right: 0px;
				border-left: $tipSize solid #{$eventColour};
			}
		}
	}
}