@import '../../assets/mixins.scss';
@import '../../assets/colours.scss';
@import '../../assets/fonts.scss';

html, body {
	margin: 0;
	background-color: #333;
	user-select: none;
	font: 300 16px/22px Helvetica, Arial, Sans-serif;
}

main {
	width: 1280px;
	height: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: white;
	transform: translate(-50%, -50%);
	@include transition(0s, 0.5s, background-color);

	&.occupied {
		background-color: black;
		--image-filter: invert(1);
		--current-color: white;
		--text-color: #{c(gray)};
		--hand-color: #{c(white-ish)};
		--tick-color: #{c(gray-dk)};
	}

	@keyframes delay-in {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}
}