@import '../../assets/mixins.scss';
@import '../../assets/colours.scss';
@import '../../assets/fonts.scss';

header {
	width: calc(100% - 40px * 2);
	height: 90px;
	margin: 40px;
	position: relative;

	.logo {
		width: 40px + 1px;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background-image: url('../../assets/images/logo.svg');
		background-repeat: no-repeat;
		background-position: center;
		filter: var(--image-filter, invert(0));
		@include transition(0.25s, 0.5s, filter);
	}

	.connection {
		display: none;

		@keyframes blinker {
			50% { opacity: 0; }
		}

		&[data-status="false"] {
			display: block;
			position: absolute;
			top: 0px;
			left: 50%;
			width: 48px;
			height: 100%;
			background-image: url('../../assets/images/wifi.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 48px;
			opacity: 0.5;
			transform: translateX(-50%);
			animation: blinker 1.25s linear infinite;
			filter: var(--image-filter, invert(0));
		}
	}

	.option {
		width: 400px;
		height: 100%;
		position: absolute;
		top: 0px;
		right: 0px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;

		p {
			padding-top: 2px;
			padding-right: 16px;
			color: c(gray-dk);
			letter-spacing: -1px;
			@include font('Museo', 300, 34px, 1);
		}

		button {
			margin: 0px;
			padding: 18px 30px;
			padding-top: 20px;
			letter-spacing: -1px;
			@include font('Museo', 300, 34px, 1);
			border: 2px solid transparent;
			border-radius: 9px;
			outline: none;

			&.book {
				color: c(blue);
				background-color: transparent;
				border-color: c(blue);

				&:active {
					color: white;
					background-color: c(blue);
				}
			}

			&.cancel {
				color: black;
				background-color: transparent;
				border-color: black;

				&:active {
					color: white;
					background-color: black;
				}
			}
		}
	}
}