@import '../../assets/colours.scss';
@import '../../assets/fonts.scss';

header {
	width: calc(100% - 40px * 2);
	height: 90px;
	margin: 40px;
	position: relative;

	.logo {
		width: 40px + 1px;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background-image: url('../../assets/images/logo.svg');
		background-repeat: no-repeat;
		background-position: center;
	}

	.option {
		width: 500px;
		height: 100%;
		position: absolute;
		top: 0px;
		right: 0px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;

		.contact {
			color: c(gray);
			letter-spacing: -1px;
			@include font('Museo', 300, 32px, 1);
		}

		button {
			margin: 0px;
			padding: 20px 30px;
			padding-top: 22px;
			letter-spacing: -1px;
			@include font('Museo', 300, 32px, 1);
			border: 1px solid transparent;
			border-radius: 12px;
			outline: none;

			&.book {
				color: c(blue);
				background-color: transparent;
				border: 1px solid c(blue);

				&:active {
					color: white;
					background-color: c(blue);
				}
			}

			&.cancel {
				color: c(gray-dk);
				background-color: transparent;
				border: 1px solid c(gray);

				&:active {
					color: white;
					background-color: c(gray);
				}
			}
		}
	}
}