@import '../../assets/mixins.scss';
@import '../../assets/colours.scss';
@import '../../assets/fonts.scss';

header {
	width: calc(100% - 60px * 2);
	height: 120px;
	margin: 60px;
	margin-bottom: 0;
	position: relative;

	.logo {
		width: 50px;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background-image: url('../../assets/images/logo.svg');
		background-repeat: no-repeat;
		background-position: left center;
		filter: var(--image-filter, invert(0));
		@include transition(0.15s, 0.5s, filter);
	}

	.connection {
		display: none;

		@keyframes blink {
			50% { opacity: 0; }
		}

		&[data-status="false"] {
			display: block;
			position: absolute;
			top: 0px;
			left: 50%;
			width: 56px;
			height: 100%;
			background-image: url('../../assets/images/warning.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 56px;
			opacity: 0.5;
			transform: translateX(-50%);
			animation: blink 1.25s linear infinite;
			filter: var(--image-filter, invert(0));
		}
	}

	.option {
		width: 640px;
		height: 100%;
		position: absolute;
		top: 0px;
		right: 0px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;

		p {
			padding-top: 2px;
			color: var(--text-color, c(gray));
			letter-spacing: -0.020em;
			@include font('Museo Sans', 300, 38px, 1);
			@include transition(0.15s, 0.5s, color);
		}

		button {
			margin: 0px;
			padding: 22px 32px;
			padding-top: 24px;
			letter-spacing: -0.020em;
			@include font('Museo Sans', 300, 34px, 1);
			border: 2px solid transparent;
			border-radius: 9px;
			outline: none;

			&.book {
				color: c(blue);
				background-color: transparent;
				border-color: c(blue);

				&:active {
					color: white;
					background-color: c(blue);
				}
			}

			&.cancel {
				color: black;
				background-color: transparent;
				border-color: black;

				&:active {
					color: white;
					background-color: black;
				}
			}
		}
	}
}