@import '../../assets/mixins.scss';
@import '../../assets/colours.scss';
@import '../../assets/fonts.scss';

section {
	width: 100%;
	height: 160px;
	position: relative;
	text-align: center;

	$tipSize: 12px;
	$handSize: 14px;
	$eventColour: c(blue);

	.hand {
		width: 0;
		height: 0;
		margin-left: 3px;
		position: absolute;
		top: 0px;
		border-left: $handSize solid transparent;
		border-right: $handSize solid transparent;
		border-top: $handSize solid var(--hand-color, black);
		transform: translateX(-$handSize + 57px); // (.range > li) margin
		@include transition(0.15s, 0.5s, opacity, border-color, left);
	}

	.range {
		margin: 0;
		padding: 0;
		height: 100%;
		font-size: 0;
		list-style: none;

		li {
			width: 2px;
			height: 44px;
			margin: 0 56px;
			margin-top: 48px;
			padding-top: 28px + 18px;
			display: inline-block;
			position: relative;

			&:before {
				content: '';
				width: 2px;
				height: 28px;
				margin: 0 auto;
				position: absolute;
				top: 0px;
				left: calc(50% - 1px);
				background-color: var(--tick-color, c(gray));
				@include transition(0.15s, 0.5s, background-color);
			}

			&:after {
				content: attr(data-id);
				width: 32px;
				height: 28px;
				margin: 0 auto;
				position: absolute;
				top: 28px + 16px + 8px;
				left: calc(50% - 32px / 2);
				color: var(--tick-color, c(gray-dk));
				@include font('Museo Sans', 500, 22px);
				@include transition(0.15s, 0.5s, color);
			}
		}
	}

	.schedule {
		width: calc(100% - 60px * 2);
		height: 18px;
		position: absolute;
		left: 70px;
		top: 52px;
		margin: 0;
		padding: 0;
		font-size: 0;
		list-style: none;

		li {
			height: 100%;
			position: absolute;
			font-size: 0;
			overflow: hidden;
			// opacity: 0.75;

			span {
				height: 100%;
				position: absolute;
				top: 0px;
				left: $tipSize;
				right: $tipSize;
				background-color: $eventColour;
			}

			&:before, &:after {
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				top: 0px;
				border-top: 9px solid transparent;
				border-bottom: 9px solid transparent;
			}

			&:before {
				left: 0px;
				border-right: $tipSize solid #{$eventColour};
			}

			&:after {
				right: 0px;
				border-left: $tipSize solid #{$eventColour};
			}
		}
	}
}