@import '../../assets/mixins.scss';
@import '../../assets/theme.scss';

section {
	width: 100%;
	height: 170px;
	position: relative;
	margin-top: 10px;
	text-align: center;

	.hand {
		width: 0;
		height: 0;
		margin-left: var(--hand-size);
		position: absolute;
		top: 0px;
		border-left: var(--hand-size) solid transparent;
		border-right: var(--hand-size) solid transparent;
		border-top: var(--hand-size) solid var(--current-color);
		transform: translateX(calc(var(--tick-space) - var(--hand-size)));
		@include transition(0.15s, 0.5s, opacity, border-color, left);
	}

	.range {
		margin: 0;
		padding: 0;
		height: 100%;
		font-size: 0;
		list-style: none;

		li {
			width: var(--tick-width);
			height: 44px;
			margin: 0 var(--tick-space);
			margin-top: 50px;
			padding-top: 28px + 18px;
			display: inline-block;
			position: relative;

			/* tick */
			&:before {
				content: '';
				width: 2px;
				height: 36px;
				margin: 0 auto;
				position: absolute;
				top: 0px;
				left: calc(50% - 1px);
				background-color: var(--tick-color);
				@include transition(0.15s, 0.5s, background-color);
			}

			/* hour */
			&:after {
				content: attr(data-id);
				width: 32px;
				height: 28px;
				margin: 0 auto;
				position: absolute;
				top: 36px + 16px + 10px;
				left: calc(50% - 32px / 2);
				color: var(--hour-color);
				@include font('Museo Sans', 500, 22px);
				@include transition(0.15s, 0.5s, color);
			}
		}
	}

	.schedule {
		width: calc(100% - 60px * 2);
		height: 20px;
		position: absolute;
		left: 70px;
		top: 56px;
		margin: 0;
		padding: 0;
		font-size: 0;
		list-style: none;

		li {
			height: 100%;
			position: absolute;
			font-size: 0;
			overflow: hidden;
			animation: fade-in 0.15s ease-in;

			span {
				height: 100%;
				position: absolute;
				top: 0px;
				left: var(--event-angle);
				right: var(--event-angle);
				background-color: var(--accent-color);
				opacity: 0.65;
				@include transition(0s, 0.2s, background-color);
			}

			&.is-active {
				span, &:before, &:after { opacity: 1; }
			}

			&:before, &:after {
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				top: 0px;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				opacity: 0.65;
				@include transition(0s, 0.2s, border-color);
			}

			&:before {
				left: 0px;
				border-right: var(--event-angle) solid var(--accent-color);
			}

			&:after {
				right: 0px;
				border-left: var(--event-angle) solid var(--accent-color);
			}
		}
	}
}
