@import '../../assets/mixins.scss';
@import '../../assets/colours.scss';
@import '../../assets/fonts.scss';

article {
	width: 100%;
	height: calc(100% - (90px + 40px * 2) - 130px - 48px);
	padding-bottom: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@keyframes delay-in {
		0% { opacity: 0; }
		25% { opacity: 0; }
		100% { opacity: 1; }
	}

	.loading {
		display: inline-block;
		width: 80px;
		height: 80px;

		@keyframes rotate {
			from { transform: rotate(0deg); }
			to { transform: rotate(360deg); }
		}

		&:after {
			content: '';
			display: block;
			width: calc(100% - 8px * 2);
			height: calc(100% - 8px * 2);
			border-radius: 50%;
			border: 8px solid transparent;
			border-color: c(gray-dk) transparent c(gray-dk) transparent;
			animation: rotate 1s linear infinite, delay-in 1.25s;
		}
	}

	.error {
		color: c(gray);
		letter-spacing: -1px;
		text-align: center;
		@include font('Museo', 300, 42px, 48px);
		animation: delay-in 1.25s;
	}

	.current {
		max-width: 65%;
		max-height: calc(72px * 2);
		margin: 0;
		color: var(--event-color, black);
		letter-spacing: -1px;
		text-align: center;
		@include font('Museo', 500, 64px, 72px);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		@include transition(0.25s, 0.5s, color);
	}

	.remainder {
		padding-top: 14px;
		color: c(gray);
		letter-spacing: -1px;
		@include font('Museo', 300, 32px);
	}

	.options {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			margin: 0 40px;
			padding: 20px 30px;
			display: inline-block;
			text-align: center;
			letter-spacing: -1px;
			@include font('Museo', 600, 86px);
			border-radius: 9px;

			&:active:not(.is-disabled) {
				color: white;
				background-color: black;

				span {
					color: inherit;
				}
			}

			&.is-disabled { color: c(gray); }

			span {
				margin: 8px auto;
				margin-bottom: 0;
				display: block;
				color: c(gray);
				letter-spacing: -1px;
				@include font('Museo', 300, 34px);
			}
		}
	}
}