@import '../../assets/mixins.scss';
@import '../../assets/colours.scss';
@import '../../assets/fonts.scss';

article {
	width: 100%;
	height: calc(100% - (90px + 40px * 2) - 130px - 28px);
	padding-bottom: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.current {
		max-width: 60%;
		max-height: calc(68px * 2);
		margin: 0;
		color: black;
		letter-spacing: -1px;
		text-align: center;
		@include font('Museo', 500, 58px, 68px);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		@include transition(color);
	}

	.remainder {
		padding-top: 8px;
		color: c(gray);
		letter-spacing: -1px;
		@include font('Museo', 300, 32px);
	}
}