@import '../../assets/mixins.scss';
@import '../../assets/colours.scss';
@import '../../assets/fonts.scss';

article {
	width: 100%;
	height: calc(100% - (120px + 60px * 2) - 160px - 50px);
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.loading {
		display: inline-block;
		width: 88px;
		height: 88px;

		@keyframes rotate {
			from { transform: rotate(0deg); }
			to { transform: rotate(360deg); }
		}

		&:after {
			content: '';
			display: block;
			width: calc(100% - 8px * 2);
			height: calc(100% - 8px * 2);
			border-radius: 50%;
			border: 4px solid transparent;
			border-color: transparent transparent c(gray) transparent;
			animation: rotate 0.5s linear infinite, delay-in 0.5s ease-in;
		}
	}

	.error {
		color: c(gray);
		letter-spacing: -1px;
		text-align: center;
		@include font('Museo', 300, 54px, 54px);
		animation: delay-in 0.5s ease-in;
	}

	.current {
		max-width: 60%;
		max-height: calc(98px * 2);
		margin: 0;
		color: var(--event-color, black);
		letter-spacing: -1px;
		text-align: center;
		@include font('Museo', 500, 84px, 98px);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		@include transition(0.25s, 0.5s, color);

		em {
			font-style: normal;
			font-size: 96px;
		}
	}

	.remainder {
		min-height: 16px;
		padding-top: 16px;
		color: var(--text-color, c(gray));
		letter-spacing: -1px;
		@include font('Museo', 300, 38px);
		@include transition(0.25s, 0.5s, color);
	}

	.options {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			margin: 0 50px;
			padding: 20px 40px;
			display: inline-block;
			text-align: center;
			letter-spacing: -1px;
			@include font('Museo', 600, 102px);
			border-radius: 9px;

			&:active:not(.is-disabled) {
				color: white;
				background-color: black;

				span {
					color: inherit;
				}
			}

			&.is-disabled { color: c(gray); }

			span {
				margin: 10px auto;
				margin-bottom: 0;
				display: block;
				color: c(gray);
				letter-spacing: -1px;
				@include font('Museo', 300, 38px);
			}
		}
	}
}