@import '../../assets/mixins.scss';
@import '../../assets/colours.scss';
@import '../../assets/fonts.scss';

article {
	width: 100%;
	height: calc(100% - (120px + 60px) - 160px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.loading {
		display: inline-block;
		width: 80px;
		height: 80px;

		@keyframes rotate {
			from { transform: rotate(0deg); }
			to { transform: rotate(360deg); }
		}

		&:after {
			content: '';
			display: block;
			width: calc(100% - 6px * 2);
			height: calc(100% - 6px * 2);
			border-radius: 50%;
			border: 6px solid transparent;
			border-color: c(gray-lt) transparent c(gray-lt) transparent;
			animation: rotate 0.75s linear infinite, delay-in 0.5s ease-in;
		}
	}

	.error {
		margin-bottom: 80px;
		color: c(gray);
		letter-spacing: -0.020em;
		text-align: center;
		@include font('Museo Sans', 300, 56px, 56px);
		animation: delay-in 0.5s ease-in;
	}

	.current {
		max-width: 60%;
		max-height: calc(96px * 2);
		margin: 0;
		color: var(--current-color, black);
		letter-spacing: -0.025em;
		text-align: center;
		@include font('Museo Sans', 500, 80px, 96px);
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		@include transition(0.15s, 0.5s, color);
	}

	@keyframes slide-up {
		0% { height: 0px; }
		100% { height: 38px; }
	}

	.remainder {
		padding-top: 16px;
		color: var(--text-color, c(gray));
		letter-spacing: -0.020em;
		@include font('Museo Sans', 300, 38px, 1);
		@include transition(0.15s, 0.5s, color, height, padding-top);
		animation: slide-up 0.15s ease-out;
		overflow: hidden;
	}

	.users {
		width: 60%;
		max-height: 100%;
		padding: 0;
		margin: 0;
		position: relative;
		top: -16px;
		list-style: none;
		text-align: center;
		overflow: scroll;

		li {
			letter-spacing: -0.020em;
			@include font('Museo Sans', 300, 32px, 1.25);
			opacity: 0.4;

			&.selected {
				font-size: 54px;
				font-weight: 500;
				opacity: 1;
			}

			&.step-1 {
				font-size: 40px;
				opacity: 0.6;
			}

			&.step-3 {
				font-size: 24px;
				opacity: 0.2;
			}

			&.step-4 {
				font-size: 12px;
				opacity: 0.2;
			}
		}
	}

	.options {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			margin: 0 50px;
			padding: 20px 40px;
			display: inline-block;
			text-align: center;
			letter-spacing: -0.020em;
			@include font('Museo Sans', 600, 102px);
			border-radius: 9px;

			&:active:not(.is-disabled) {
				color: white;
				background-color: black;

				span {
					color: inherit;
				}
			}

			&.is-disabled { color: c(gray); }

			span {
				margin: 10px auto;
				margin-bottom: 0;
				display: block;
				color: c(gray);
				letter-spacing: -0.020em;
				@include font('Museo Sans', 300, 38px);
			}
		}
	}
}