@mixin font($family: Sans-serif, $weight: 300, $size: 1.0em, $height: 1) {
	font-size: $size;
	font-family: $family;
	font-weight: $weight;
	line-height: $height;
}

@mixin transition($properties...) {
	$list: ();
	$duration: 0.8s;
	$easing: ease;
	$delay: null;

	@each $prop in $properties {
 		$list: append($list, #{$prop} $duration $easing $delay, comma);
	}

	transition: $list;
}