@function c($key) {
	@return map-get($colours, $key);
}

@mixin font($family: Sans-serif, $weight: 300, $size: 1.0em, $height: 1) {
	font-size: $size;
	font-family: $family;
	font-weight: $weight;
	line-height: $height;
}

@mixin transition($delay, $duration, $properties...) {
	$list: ();
	$easing: ease;

	@each $prop in $properties {
 		$list: append($list, #{$prop} $duration $easing $delay, comma);
	}

	transition: $list;
}